doctype 5
html
  head
    meta(charset='utf-8')
    title EcGlobal ECommerce Global
    meta(name='description', content='A global E-commerce Marketplace')
    meta(name='author', content='stanhangzhou@gmail.com')    
    // Mobile Specific
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    // CSS
    link(rel='stylesheet', href='/stylesheets/app.css')
    link(rel='stylesheet', href='/stylesheets/presentation.css')
    
    // All shared javascript
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/javascripts/foundation/modernizr.foundation.js')
  
  body
    script(type='text/javascript', src='/javascripts/foundation/jquery.js')
    block content
    
    
    script(type='text/javascript', src='/javascripts/foundation/jquery.foundation.tooltips.js')
    script(type='text/javascript', src='/javascripts/foundation/jquery.foundation.alerts.js')
    script(type='text/javascript', src='/javascripts/foundation/jquery.foundation.topbar.js')
    script(type='text/javascript', src='/javascripts/foundation/jquery.foundation.reveal.js')
    script(type='text/javascript', src='/javascripts/foundation/jquery.foundation.magellan.js')
    script(type='text/javascript', src='/javascripts/foundation/jquery.foundation.buttons.js')
    script(type='text/javascript', src='/javascripts/foundation/jquery.foundation.navigation.js')
    script(type='text/javascript', src='/javascripts/foundation/jquery.foundation.tabs.js')
    script(type='text/javascript', src='/javascripts/foundation/jquery.foundation.clearing.js')
    script(type='text/javascript', src='/javascripts/foundation/jquery.foundation.forms.js')
    script(type='text/javascript', src='/javascripts/foundation/jquery.event.swipe.js')
    script(type='text/javascript', src='/javascripts/foundation/jquery.placeholder.js')
    script(type='text/javascript', src='/javascripts/foundation/jquery.foundation.mediaQueryToggle.js')
    script(type='text/javascript', src='/javascripts/foundation/jquery.cookie.js')
    script(type='text/javascript', src='/javascripts/foundation/jquery.foundation.joyride.js')
    script(type='text/javascript', src='/javascripts/foundation/jquery.foundation.orbit.js')
    script(type='text/javascript', src='/javascripts/foundation/jquery.event.move.js')
    script(type='text/javascript', src='/javascripts/foundation/jquery.foundation.accordion.js')
    script(type='text/javascript', src='/javascripts/foundation/app.js')
