extend ../layout

block content
  script(type='text/javascript', src='/javascripts/test.js')
  #test
  h1= title
  p Welcome to #{title}
  .row.display
    .four.columns .four.columns
    .four.columns .four.columns
    .four.columns .four.columns
  .row.display
    .three.columns .three.columns
    .six.columns .six.columns
    .three.columns .three.columns
  .row.display
    .two.columns .two.columns
    .eight.columns .eight.columns
    .two.columns .two.columns
  .row.display
    .one.columns .one
    .eleven.columns .eleven.columns    
  .row.display
    .two.columns .two.columns
    .ten.columns .ten.columns
  .row.display
    .three.columns .three.columns
    .nine.columns .nine.columns
  .row.display
    .four.columns .four.columns
  .row.display
    .five.columns .five.columns
    .seven.columns .seven.columns
  .row.display
    .six.columns .six.columns
    .six.columns .six.columns
  .row.display
    .seven.columns .seven.columns
    .five.columns .five.columns
  .row.display
    .eight.columns .eight.columns
    .four.columns .four.columns
  .row.display
    .nine.columns .nine.columns
    .three.columns .three.columns
  .row.display
    .ten.columns .ten.columns
    .two.columns .two.columns
  .row.display
    .eleven.columns .eleven.columns
    .one.columns .one
  .row.display
    .twelve.columns .twelve.columns 
